.gallery.carousel {
  place-self: start center;
  max-width: 620px;
  padding-bottom: 44px;
}

@media (width >= 1200px) {
  .gallery.carousel {
    max-width: unset;
  }
}

.gallery.carousel > ul > li {
  flex: 0 0 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.gallery.carousel > ul > li picture {
  width: 100%;
}

.gallery.carousel > ul > li img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.gallery.carousel nav {
  display: flex;
  align-items: flex-end;
  pointer-events: none;
}

.gallery.carousel nav button.nav-arrow {
  top: calc(50% - 15px);
  border-radius: var(--radius-round);
  background-color: var(--border-color);
  color: var(--text-color-secondary);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-normal), left var(--transition-normal), right var(--transition-normal);
}

.gallery.carousel:hover nav button.nav-arrow {
  opacity: 1;
  pointer-events: auto;
}

.gallery.carousel:hover nav button.nav-arrow:disabled {
  opacity: 0.2;
}

.gallery.carousel nav button.nav-arrow::after {
  border-width: 2px;
}

.gallery.carousel nav button.nav-arrow.nav-arrow-previous {
  left: -52px;
}

.gallery.carousel:hover nav button.nav-arrow.nav-arrow-previous {
  left: var(--space-s);
}

.gallery.carousel nav button.nav-arrow.nav-arrow-next {
  right: -52px;
}

.gallery.carousel:hover nav button.nav-arrow.nav-arrow-next {
  right: var(--space-s);
}

.gallery.carousel nav [role="radiogroup"] {
  gap: 0;
  width: 100%;
  overflow-x: hidden;
}

.gallery.carousel nav [role="radiogroup"] button {
  width: 44px;
  height: 44px;
  line-height: 0;
  text-align: center;
  cursor: pointer;
  pointer-events: auto;
}

.gallery.carousel nav [role="radiogroup"] button::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 1px solid var(--text-color-secondary);
  border-radius: var(--radius-round);
  background-color: transparent;
  transition: border-color var(--transition-normal), background-color var(--transition-normal);
}

.gallery.carousel nav [role="radiogroup"] button[aria-checked="true"]::after {
  border-color: transparent;
  background-color: var(--link-color);
}

.gallery.carousel nav [role="radiogroup"] button img {
  display: none;
}

@media (width >= 900px) {
  .gallery.carousel {
    justify-self: start;
    padding-bottom: calc(58px + var(--space-m));
  }

  .gallery.carousel nav button.nav-arrow {
    top: calc(50% - 58px + var(--space-m));
  }

  .gallery.carousel:hover nav button.nav-arrow.nav-arrow-previous {
    left: 12px;
  }

  .gallery.carousel:hover nav button.nav-arrow.nav-arrow-next {
    right: 12px;
  }

  .gallery.carousel nav [role="radiogroup"] {
    gap: var(--space-s);
    justify-content: safe center;
  }

  .gallery.carousel nav [role="radiogroup"] button {
    width: 58px;
    min-width: 58px;
    height: 58px;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-s);
    transition: border-color var(--transition-normal);
  }

  .gallery.carousel nav [role="radiogroup"] button::after {
    content: none;
  }

  .gallery.carousel nav [role="radiogroup"] button[aria-checked="true"] {
    border-color: var(--text-color);
  }

  .gallery.carousel nav [role="radiogroup"] button img {
    display: block;
    border-radius: var(--radius-s);
  }
}
