main > .section.hero-container {
  margin-bottom: 1.3rem;
}

.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-container .hero-wrapper .hero picture {
  display: block;
}

.hero {
  position: relative;
  padding-top: var(--spacing-xl);
}

.hero h1 {
  padding: 0 var(--spacing-m);
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  color: var(--text-color);
  position: absolute;
  bottom: var(--spacing-small);
}

@media (min-width: 320px) {
  .hero {
      padding-top: 0;
      justify-self: center;
  }

  .hero-container .hero-wrapper .hero picture {
      display: block;
  }
}

@media (min-width: 768px) {
  .hero h1 {
      font-size: 31px;
      color: var(--text-color);
  }
}

@media (min-width: 1024px) {
  .hero h1 {
      font-size: 36px;
  }
  
}

@media (min-width: 1366px) {
  .hero h1 {
      font-size: 43px;
  }
  
}


@media (min-width: 1920px) {
  .hero h1 {
      font-size: 48px;
  }
  
}