/* Red bar at top of footer */
.footer-wrapper .footer.block::before {
  content: '';
  display: block;
  width: 100%;
  height: 8px;
  background-color: var(--accent-color);
}

/* Redirect links section */
.footer-wrapper .footer .section.redirect-links {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2.5% 0;
}

.footer-wrapper .footer .section.redirect-links .default-content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.footer-wrapper .footer .section.redirect-links ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 auto;
  padding: 0 var(--spacing-m);
  width: 100%;
  justify-content: center;
}

.footer-wrapper .footer .section.redirect-links ul li {
  list-style-type: none;
  margin: 0 0 var(--spacing-s);
  line-height: 1;
  font-size: 0.875rem;
  padding: 0 var(--spacing-s);
}

.footer-wrapper .footer .section.redirect-links ul li a {
  color: inherit;
  text-decoration: none;
}

.footer-wrapper .footer .section.redirect-links ul li a:hover {
  text-decoration: underline;
}

.footer-wrapper .footer .section.redirect-links .default-content-wrapper ul {
  justify-content: space-evenly;
}

/* Copyright section */
.footer-wrapper .footer .section.copyright {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 20px var(--spacing-m) var(--spacing-m);
  margin: 0 auto;
  justify-content: center;
  border-top: solid 1px var(--border-color);
}

.footer-wrapper .footer .section.copyright .default-content-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
}

.footer-wrapper .footer .section.copyright .default-content-wrapper p {
  color: var(--text-color-secondary);
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.5;
}

.footer-wrapper .footer .section.copyright img {
  margin-right: var(--spacing-xxs);
}

.footer-wrapper .footer .section.redirect-links ul li a.brand-link {
  color: var(--accent-color);
}
