@font-face {
  font-family: 'Adobe Clean';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/AdobeClean-Light.woff') format('woff');
}

@font-face {
  font-family: 'Adobe Clean';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/AdobeClean-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Adobe Clean';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/AdobeClean-Bold.woff') format('woff');
}
